@model DevStormMvc.Models.VoucherModel

@{
    ViewBag.Title = "Details";
}




<div class="container">
    <div class="gap gap-small"></div>
    <div class="text-center">
        <h1>@Html.DisplayFor(model => model.name)</h1>
        <div class="gap gap-small"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-5">

            <div class="_box-highlight">

                <h3> Reference :  @Html.DisplayFor(model => model.reference)</h3>
                <h3>Description :  @Html.DisplayFor(model => model.description) </h3>
                <h3>Amount :  @Html.DisplayFor(model => model.amount)</h3>
                <h3>Showrromer :  @Html.DisplayFor(model => model.showroomer.FirstName)</h3>

                <div class="text-center">
                    <div class="gap gap-small"></div>
                    <ul class="product-page-actions-list">
                        <li class="col-md-4">@Html.ActionLink("Edit", "Edit", new { id = Model.voucherId }, htmlAttributes: new { @class = "btn btn-warning", @type = "submit" })</li>
                        <li class="col-md-4">@Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { @class = "btn btn-info", @type = "submit" })</li>
                    </ul>
                    <div class="gap gap-small"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
