@model IEnumerable<DevStormMvc.Models.VoucherModel>

@{
    ViewBag.Title = "Index";
}




<div class="container">
    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="text-center">
            <h2>Vouchers list </h2>
            <div class="gap gap-small"></div>
        </div>
        <div class="box">
            <table class="table">
                <tr>
                    <th>Reference</th>
                    <th>Voucher name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Showroomer</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.reference)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.showroomer.FirstName)
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.voucherId }, htmlAttributes: new { @class = "btn btn-warning", @type = "submit" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.voucherId }, htmlAttributes: new { @class = "btn btn-primary", @type = "submit" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.voucherId }, htmlAttributes: new { @class = "btn btn-danger", @type = "submit" })
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="container">
            <div class="gap gap-small"></div>
            <div class="row row-col-gap">
                <div class="text-center">
                    @Html.ActionLink("Create New", "Create", "", htmlAttributes: new { @class = "btn btn-info", @type = "submit" })
                </div>
            </div>
        </div>
    </div>
</div>
