@model IEnumerable<DevStormMvc.Models.OrderModel>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="text-center">
            <h2>Cart</h2>
            <div class="gap gap-small"></div>
        </div>
        <div>
            @*<input style="float:right;margin-right:15px" ; type="submit" value="Create" class="btn btn-success" />
                @*<p>
                    @Html.ActionLink("Create New", "Create")
                </p>*@

            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    @foreach (var item in Model)
                     {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                               @(item.Quantity*item.Price)
                            </td>
                           
                            <td>
                                @Html.ActionLink("Edit", "Create", new { idProduct = item.idProd }, htmlAttributes: new { @class = "btn btn-success", @type = "submit" })|
                             @Html.ActionLink("Delete", "Delete", new { id = item.OrderId }, htmlAttributes: new { @class = "btn btn-danger", @type = "submit" }) 
                            </td>
                        </tr>
                    }

                </table>

               
               
            </div>
            <div class="gap gap-small"></div>
            <div class="text-center">
                @Html.ActionLink("Back to products", "Index", "Product", "", htmlAttributes: new { @class = "btn btn-warning", @type = "submit" })
                @Html.ActionLink("Clear all", "Clear", "", htmlAttributes: new { @class = "btn btn-danger", @type = "submit" })
                </div>
        </div>
    </div>
</div>

