

<div class="container">
    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="col-md-3">
            <div class="clearfix">
                <ul class="dropdown-menu dropdown-menu-category dropdown-menu-category-hold">
                    <li>
                        <a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>Home & Garden</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Home & Garden</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Home</a>
                                                    <p>Velit elementum sociosqu odio mauris</p>
                                                </li>
                                                <li>
                                                    <a href="#">Kitchen</a>
                                                    <p>Facilisis ridiculus venenatis egestas fermentum</p>
                                                </li>
                                                <li>
                                                    <a href="#">Furniture & Decor</a>
                                                    <p>Blandit sed ultricies eu id</p>
                                                </li>
                                                <li>
                                                    <a href="#">Bedding & Bath</a>
                                                    <p>Tempor velit ornare pulvinar integer</p>
                                                </li>
                                                <li>
                                                    <a href="#">Appilances</a>
                                                    <p>Dapibus imperdiet quisque class tortor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Patio, Lawn & Garden</a>
                                                    <p>Vestibulum mollis diam vulputate hac</p>
                                                </li>
                                                <li>
                                                    <a href="#">Wedding Registry</a>
                                                    <p>Per himenaeos scelerisque aenean elementum</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Home Improvement</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Home Improvement</a>
                                                    <p>Tincidunt curae vehicula sollicitudin leo</p>
                                                </li>
                                                <li>
                                                    <a href="#">Lamps & Light Fixtures</a>
                                                    <p>Ipsum neque neque et ipsum</p>
                                                </li>
                                                <li>
                                                    <a href="#">Kitchen & Bath Fixtures</a>
                                                    <p>Tristique ante augue magna iaculis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Home Automation</a>
                                                    <p>Feugiat blandit magnis vitae adipiscing</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/2.png")" alt="Image Alternative text" title="Image Title" style="right: -10px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Jewelry</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Jewelry</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Necklances & Pendants</a>
                                                    <p>Ad risus cursus egestas bibendum</p>
                                                </li>
                                                <li>
                                                    <a href="#">Bracelets</a>
                                                    <p>Dapibus ullamcorper metus ac adipiscing</p>
                                                </li>
                                                <li>
                                                    <a href="#">Rings</a>
                                                    <p>Platea ad ac dictum lobortis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Errings</a>
                                                    <p>Facilisi sed vivamus potenti ligula</p>
                                                </li>
                                                <li>
                                                    <a href="#">Wedding & Engagement</a>
                                                    <p>Nostra et in blandit curabitur</p>
                                                </li>
                                                <li>
                                                    <a href="#">Charms</a>
                                                    <p>Inceptos vitae facilisi ornare dolor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Booches</a>
                                                    <p>Laoreet pellentesque sem aenean eleifend</p>
                                                </li>
                                                <li>
                                                    <a href="#">Men's Jewelry</a>
                                                    <p>Etiam taciti praesent gravida quam</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Jewelry Shops</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Contemporary & Designer</a>
                                                    <p>Metus nulla eget cursus ac</p>
                                                </li>
                                                <li>
                                                    <a href="#">Juniors</a>
                                                    <p>Natoque taciti consectetur aliquet ultrices</p>
                                                </li>
                                                <li>
                                                    <a href="#">Meternity</a>
                                                    <p>Praesent porttitor sociis mattis quis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Pettite</a>
                                                    <p>Massa congue placerat libero nunc</p>
                                                </li>
                                                <li>
                                                    <a href="#">Uniforms, Works & Safety</a>
                                                    <p>Bibendum eu rhoncus per maecenas</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/3.png")" alt="Image Alternative text" title="Image Title" style="right: -10px; bottom: -10px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>Toy & Kids</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Kids Clothing</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Accessories</a>
                                                    <p>Pellentesque diam potenti mauris ornare</p>
                                                </li>
                                                <li>
                                                    <a href="#">Active Wear</a>
                                                    <p>Ornare habitasse ullamcorper nibh orci</p>
                                                </li>
                                                <li>
                                                    <a href="#">Coats & Jackets</a>
                                                    <p>Platea tempus gravida cras felis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Jeans</a>
                                                    <p>Cum eleifend nisl fermentum ultricies</p>
                                                </li>
                                                <li>
                                                    <a href="#">Sets</a>
                                                    <p>Conubia a facilisis ut gravida</p>
                                                </li>
                                                <li>
                                                    <a href="#">Indoors</a>
                                                    <p>Sed habitant inceptos pulvinar vivamus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Swimwear</a>
                                                    <p>Aptent aenean pellentesque vulputate metus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Special Occasion</a>
                                                    <p>Ante vehicula senectus fusce diam</p>
                                                </li>
                                                <li>
                                                    <a href="#">Shoes</a>
                                                    <p>Varius urna nibh nunc maecenas</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">More For Kids</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Kids Furniture</a>
                                                    <p>Euismod tincidunt convallis ultricies hac</p>
                                                </li>
                                                <li>
                                                    <a href="#">Kids Jewelry & Watches</a>
                                                    <p>Felis torquent congue consectetur lobortis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Toys & Games</a>
                                                    <p>Odio iaculis aenean laoreet neque</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/4.png")" alt="Image Alternative text" title="Image Title" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug dropdown-menu-category-icon"></i>Electronics</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Electronics</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">TV & Video</a>
                                                    <p>Natoque arcu semper leo aliquet</p>
                                                </li>
                                                <li>
                                                    <a href="#">Home Audio & Theater</a>
                                                    <p>Platea porttitor libero nulla tempor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Camera, Photo & Video</a>
                                                    <p>Platea felis pellentesque class tellus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Cell Phones & Accessories</a>
                                                    <p>Erat a faucibus sociosqu volutpat</p>
                                                </li>
                                                <li>
                                                    <a href="#">Headphones</a>
                                                    <p>Vulputate volutpat placerat proin lorem</p>
                                                </li>
                                                <li>
                                                    <a href="#">Video Games</a>
                                                    <p>Congue ac dui sagittis convallis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Gar Electronics</a>
                                                    <p>Tortor orci risus adipiscing vel</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Computers</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Laptops & Tablets</a>
                                                    <p>Purus sagittis eros eros proin</p>
                                                </li>
                                                <li>
                                                    <a href="#">Desktops & Monitors</a>
                                                    <p>Per sed justo fringilla quis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Computer Accessories</a>
                                                    <p>Convallis metus quam tortor donec</p>
                                                </li>
                                                <li>
                                                    <a href="#">Software</a>
                                                    <p>Curae pretium laoreet magnis lacus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Printers & Ink</a>
                                                    <p>Libero donec vitae ultricies penatibus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Networking</a>
                                                    <p>Natoque condimentum pulvinar neque hac</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/5.png")" alt="Image Alternative text" title="Image Title" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-tags dropdown-menu-category-icon"></i>Clothes & Shoes</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">TheBox Fashion</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Woman</a>
                                                    <p>Suspendisse litora ullamcorper ultrices porttitor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Men</a>
                                                    <p>Dignissim tincidunt class non metus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Girls</a>
                                                    <p>Duis eget amet morbi conubia</p>
                                                </li>
                                                <li>
                                                    <a href="#">Boys</a>
                                                    <p>Cursus vivamus suspendisse feugiat enim</p>
                                                </li>
                                                <li>
                                                    <a href="#">Baby</a>
                                                    <p>Tempus morbi amet fermentum potenti</p>
                                                </li>
                                                <li>
                                                    <a href="#">Luggage</a>
                                                    <p>Duis vulputate primis velit vel</p>
                                                </li>
                                                <li>
                                                    <a href="#">Accessories</a>
                                                    <p>In felis nascetur habitant venenatis</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/6.png")" alt="Image Alternative text" title="Image Title" style="right: -20px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-futbol-o dropdown-menu-category-icon"></i>Sports</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Sports</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Athletic Clothing</a>
                                                    <p>Lacinia adipiscing malesuada ultrices torquent</p>
                                                </li>
                                                <li>
                                                    <a href="#">Exorcise & Fitness</a>
                                                    <p>Euismod a viverra augue sociis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Hunting & Fishing</a>
                                                    <p>Vehicula iaculis sem nullam urna</p>
                                                </li>
                                                <li>
                                                    <a href="#">Team Sports</a>
                                                    <p>Sem lectus cras amet mattis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Fan Sports</a>
                                                    <p>Sem fringilla tempus dis eros</p>
                                                </li>
                                                <li>
                                                    <a href="#">Golf</a>
                                                    <p>Phasellus mollis augue ornare curabitur</p>
                                                </li>
                                                <li>
                                                    <a href="#">Sports Collections</a>
                                                    <p>Non tempus facilisis duis dictumst</p>
                                                </li>
                                                <li>
                                                    <a href="#">Camping & Hiking</a>
                                                    <p>Sit auctor sodales suspendisse nullam</p>
                                                </li>
                                                <li>
                                                    <a href="#">Cycling</a>
                                                    <p>Facilisi magnis pretium malesuada sit</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/7.png")" alt="Image Alternative text" title="Image Title" style="right: -39px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-music dropdown-menu-category-icon"></i>Entertaiment</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Entertaiment</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Video Games & Consoles</a>
                                                    <p>Cum id dapibus ac est</p>
                                                </li>
                                                <li>
                                                    <a href="#">Music</a>
                                                    <p>Ullamcorper suscipit per senectus ultricies</p>
                                                </li>
                                                <li>
                                                    <a href="#">DVD & Movies</a>
                                                    <p>Et diam eu massa orci</p>
                                                </li>
                                                <li>
                                                    <a href="#">Tickets</a>
                                                    <p>Habitasse nostra elit phasellus mus</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Memorabilia</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Autographs</a>
                                                </li>
                                                <li>
                                                    <a href="#">Movie</a>
                                                </li>
                                                <li>
                                                    <a href="#">Music</a>
                                                </li>
                                                <li>
                                                    <a href="#">Television</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/9.png")" alt="Image Alternative text" title="Image Title" style="right: -27px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-location-arrow dropdown-menu-category-icon"></i>Travel</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Travel Equepment</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Luggage</a>
                                                    <p>Euismod elementum nisl nulla et</p>
                                                </li>
                                                <li>
                                                    <a href="#">Travel Accessories</a>
                                                    <p>Blandit cras torquent aliquam tempor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Luggage Accessories</a>
                                                    <p>Malesuada egestas montes dolor integer</p>
                                                </li>
                                                <li>
                                                    <a href="#">Lodging</a>
                                                    <p>Vehicula et curae auctor turpis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Maps</a>
                                                    <p>Dictumst gravida egestas ligula quis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Other Travel</a>
                                                    <p>Sodales augue laoreet vehicula erat</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Booking</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Vacation Packages</a>
                                                    <p>Habitant dictum eget pharetra eros</p>
                                                </li>
                                                <li>
                                                    <a href="#">Campground & RV</a>
                                                    <p>Montes nec platea mi taciti</p>
                                                </li>
                                                <li>
                                                    <a href="#">Rail</a>
                                                    <p>Leo integer iaculis volutpat semper</p>
                                                </li>
                                                <li>
                                                    <a href="#">Car Rental</a>
                                                    <p>Integer mattis eros curae rutrum</p>
                                                </li>
                                                <li>
                                                    <a href="#">Cruises</a>
                                                    <p>Cursus metus lacus cras ante</p>
                                                </li>
                                                <li>
                                                    <a href="#">Airline</a>
                                                    <p>Consectetur congue mus imperdiet torquent</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/11.png")" alt="Image Alternative text" title="Image Title" style="right: -100px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Art & Design</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Art</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Paintings from Dealers & Resellers</a>
                                                    <p>Curae orci tortor dictumst ante</p>
                                                </li>
                                                <li>
                                                    <a href="#">Paintings Direct from Artist</a>
                                                    <p>Luctus sagittis sodales quam per</p>
                                                </li>
                                                <li>
                                                    <a href="#">Art Prints</a>
                                                    <p>Sapien dui proin fames consequat</p>
                                                </li>
                                                <li>
                                                    <a href="#">Art Photographs from Resellers</a>
                                                    <p>Convallis vestibulum vitae magnis vel</p>
                                                </li>
                                                <li>
                                                    <a href="#">Art Photographs from the Artist</a>
                                                    <p>Ullamcorper risus convallis massa montes</p>
                                                </li>
                                                <li>
                                                    <a href="#">Art Posters</a>
                                                    <p>Facilisis quis curabitur fringilla ornare</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Design</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Home Decor Decals</a>
                                                    <p>Nec praesent elit integer felis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Furniture</a>
                                                    <p>Nam purus penatibus dis mauris</p>
                                                </li>
                                                <li>
                                                    <a href="#">Wallpapers</a>
                                                    <p>Sed aenean ut ut tortor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Bar Flasks</a>
                                                    <p>Neque purus parturient volutpat ultricies</p>
                                                </li>
                                                <li>
                                                    <a href="#">Posters & Prints</a>
                                                    <p>Habitasse ad montes cum vivamus</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/12.png")" alt="Image Alternative text" title="Image Title" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Motors</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Motors</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Parts & Accessories</a>
                                                    <p>Tellus mollis sodales fringilla nam</p>
                                                </li>
                                                <li>
                                                    <a href="#">Cars & Trucks</a>
                                                    <p>Laoreet congue odio ultricies dolor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Motorcycles</a>
                                                    <p>Mollis non felis felis egestas</p>
                                                </li>
                                                <li>
                                                    <a href="#">Passenger Vehicles</a>
                                                    <p>Lorem nascetur proin quis vehicula</p>
                                                </li>
                                                <li>
                                                    <a href="#">Industry Vehicles</a>
                                                    <p>Aenean ut eleifend elit montes</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Brands</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">BMW</a>
                                                </li>
                                                <li>
                                                    <a href="#">Land Rover</a>
                                                </li>
                                                <li>
                                                    <a href="#">Nissan</a>
                                                </li>
                                                <li>
                                                    <a href="#">Honda</a>
                                                </li>
                                                <li>
                                                    <a href="#">Ford</a>
                                                </li>
                                                <li>
                                                    <a href="#">Porsche</a>
                                                </li>
                                                <li>
                                                    <a href="#">Audi</a>
                                                </li>
                                                <li>
                                                    <a href="#">Mercedes-Benz</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/13.png")" alt="Image Alternative text" title="Image Title" style="right: -15px; bottom: -15px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-paw dropdown-menu-category-icon"></i>Pets</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <h5 class="dropdown-menu-category-title">Pet Supplies</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Backyard Poultry Supplies</a>
                                                    <p>Laoreet egestas magna augue phasellus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Bird Supplies</a>
                                                    <p>Dapibus commodo accumsan senectus placerat</p>
                                                </li>
                                                <li>
                                                    <a href="#">Cat Supplies</a>
                                                    <p>Parturient nunc sodales hendrerit tempor</p>
                                                </li>
                                                <li>
                                                    <a href="#">Dog Supplies</a>
                                                    <p>Est dolor facilisis volutpat ridiculus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Pet Memorials & Urns</a>
                                                    <p>Tempor bibendum potenti maecenas feugiat</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Fish & Aquariums</a>
                                                    <p>Sem eros enim mi augue</p>
                                                </li>
                                                <li>
                                                    <a href="#">Horse Supplies</a>
                                                    <p>Habitasse interdum varius vestibulum dui</p>
                                                </li>
                                                <li>
                                                    <a href="#">Reptile Supplies</a>
                                                    <p>Sem montes blandit morbi scelerisque</p>
                                                </li>
                                                <li>
                                                    <a href="#">Small Animal Supplies</a>
                                                    <p>Scelerisque mi netus dui phasellus</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Wholesale Lots</a>
                                                    <p>Tempor ante inceptos ornare eleifend</p>
                                                </li>
                                                <li>
                                                    <a href="#">Other Pet Supplies</a>
                                                    <p>Cum dis phasellus dictumst nisl</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/14.png")" alt="Image Alternative text" title="Image Title" style="right: -15px;" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>Hobbies & DIY</a>
                        <div class="dropdown-menu-category-section">
                            <div class="dropdown-menu-category-section-inner">
                                <div class="dropdown-menu-category-section-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="dropdown-menu-category-title">Hobby & DIY</h5>
                                            <ul class="dropdown-menu-category-list">
                                                <li>
                                                    <a href="#">Model & Kit Tools</a>
                                                    <p>Tincidunt elit blandit ligula ante</p>
                                                </li>
                                                <li>
                                                    <a href="#">Supplies & Engines</a>
                                                    <p>Torquent porta non integer quisque</p>
                                                </li>
                                                <li>
                                                    <a href="#">RC Airline & Helicopter</a>
                                                    <p>Rutrum gravida interdum vehicula natoque</p>
                                                </li>
                                                <li>
                                                    <a href="#">RC Car, Truck & motorcycle</a>
                                                    <p>Massa aliquet ante rutrum lectus</p>
                                                </li>
                                                <li>
                                                    <a href="#">Military Airline Models & Kits</a>
                                                    <p>Quis curabitur nunc vulputate mollis</p>
                                                </li>
                                                <li>
                                                    <a href="#">Craft Airbrushing Supplies</a>
                                                    <p>Suspendisse sociosqu malesuada sollicitudin erat</p>
                                                </li>
                                                <li>
                                                    <a href="#">Card Making Supplies</a>
                                                    <p>Nulla semper pellentesque vehicula porta</p>
                                                </li>
                                                <li>
                                                    <a href="#">Craft Sewing</a>
                                                    <p>Et laoreet accumsan euismod praesent</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <img class="dropdown-menu-category-section-theme-img" src="@Url.Content("~/Content/showroomer/img/test_cat/15.png")" alt="Image Alternative text" title="Image Title" style="height: 100%;" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="banner banner-o-hid banner-xl" style="background-color:#D2D2D2; height:490px;">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">Canon Cameras</h5>
                    <p class="banner-desc">Save up to 50%</p>
                    <p class="banner-shop-now">
                        Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="@Url.Content("~/Content/showroomer/img/test_banner/25.png")" alt="Image Alternative text" title="Image Title" style="bottom: -25px; right: -10px; width: 500px;" />
            </div>
        </div>
    </div>
    <div class="row row-col-gap">
        <div class="col-md-4">
            <div class="banner banner-o-hid" style="background-color:#D2D2D2;">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">Top Headphones</h5>
                    <p class="banner-desc">Feel the Sound</p>
                    <p class="banner-shop-now">
                        Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="@Url.Content("~/Content/showroomer/img/test_banner/26.png")" alt="Image Alternative text" title="Image Title" style="bottom: -29px; right: -51px; width: 240px;" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner banner-o-hid" style="background-color:#D2D2D2;">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">iPhone 6s</h5>
                    <p class="banner-desc">The Only One</p>
                    <p class="banner-shop-now">
                        Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="@Url.Content("~/Content/showroomer/img/test_banner/27.png")" alt="Image Alternative text" title="Image Title" style="top: 5px; right: 10px; width: 120px;" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner banner-o-hid" style="background-color:#D2D2D2;">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">macbook Pro</h5>
                    <p class="banner-desc">With Retina Display</p>
                    <p class="banner-shop-now">
                        Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="@Url.Content("~/Content/showroomer/img/test_banner/29.png")" alt="Image Alternative text" title="Image Title" style="top: 33px; right: -85px; width: 240px;" />
            </div>
        </div>
    </div>
    <h3 class="widget-title">Recommended Based on Your Browsing History</h3>
  
    <div class="owl-carousel owl-loaded owl-nav-out" data-options='{"items":7,"loop":true,"nav":true}'>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/man_fashion/3.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">T-Tech by Tumi Men's Softshell Jacket</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$131</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_bags/4.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Vera Bradley Vera Tote Bag</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$118</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_running_shoes/6.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Mizuno Wave Universe 5 Women's Running Shoes Sneakers</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$140</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/laptops/3.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Apple 11.6" MacBook Air Notebook Computer MJVM2LL/A (Early 2015)</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-old">$89</span><span class="product-caption-price-new">$72</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_dress/2.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Hanes Women's Relaxed Fit Jersey ComfortSoft&reg; Crewneck T-Shirt style 5680</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$94</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/home_tech/2.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Dyson DC50 Animal Compact Upright Vacuum</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$85</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_bags/1.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Dooney & Bourke Chevron Large Slim Wristlet</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$69</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/furniture/4.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Sierra Mission End Medium Oak Table</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-old">$128</span><span class="product-caption-price-new">$116</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/28.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">Apple iPhone 4S 16GB Factory Unlocked Black and White Smartphone</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-old">$126</span><span class="product-caption-price-new">$89</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-item">
            <div class="product product-sm owl-item-slide">
                <ul class="product-labels"></ul>
                <div class="product-img-wrap">
                    <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/furniture/1.jpg")" alt="Image Alternative text" title="Image Title" />
                </div>
                <a class="product-link" href="#"></a>
                <div class="product-caption">
                    <ul class="product-caption-rating">
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="rated">
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <h5 class="product-caption-title">PU Leather Tub Club Barrel Design Chair Room Seat Contemporary ArmChair</h5>
                    <div class="product-caption-price">
                        <span class="product-caption-price-new">$74</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="col-md-6">
            <div class="banner banner-o-hid" style="background-color:#D2D2D2;">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">Playstation 4</h5>
                    <p class="banner-desc">Be First</p>
                    <p class="banner-shop-now">
                        Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="@Url.Content("~/Content/showroomer/img/test_banner/28.png")" alt="Image Alternative text" title="Image Title" style="bottom: 0px; right: 0px; width: 240px;" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="banner banner-o-hid" style="background-color:#D2D2D2;">
                <a class="banner-link" href="#"></a>
                <div class="banner-caption-left banner-caption-dark">
                    <h5 class="banner-title">LCD Monitors</h5>
                    <p class="banner-desc">Up to 75% off</p>
                    <p class="banner-shop-now">
                        Shop Now <i class="fa fa-caret-right"></i>
                    </p>
                </div>
                <img class="banner-img" src="@Url.Content("~/Content/showroomer/img/test_banner/32.png")" alt="Image Alternative text" title="Image Title" style="bottom: 0; right: 0; width: 260px;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3 class="widget-title-sm">Weekly Featured</h3>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/home_tech/4.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">SALAV GS34-BJ Performance Garment Steamer with 360 Swivel Multi-hook Hanger, 4 S</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-old">$90</span><span class="product-caption-price-new">$27</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>4 left</li>
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/furniture/6.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Modern Parson Dinner Dining Chair High Back Seat Kitchen Living Room Black Brown</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$71</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/laptops/5.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Lenovo ThinkPad 11e 11.6" Notebook, AMD A4-6210 1.8GHz, 4GB RAM, 500GBHDD, W7Pro</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$134</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="widget-title-sm">On Sale</h3>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/man_fashion/10.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Casio Men's G-Shock G100-1BV Black Resin Quartz Watch</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$67</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/34.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Samsung Galaxy Note 4 IV 4G FACTORY UNLOCKED Black or White</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$87</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/man_fashion/6.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Ray Ban RB 3025 112/19 Green Flash Lens Unisex 58mm Aviator Sunglasses</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$128</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="widget-title-sm">New Arrivals</h3>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/29.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Apple iPhone 5s 16GB Factory Unlocked Smartphone Space Gray / Silver / Gold</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$141</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>5 left</li>
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_running_shoes/2.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">ASICS Women's GEL-Equation 7 Running Shoes T3F6N</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$134</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>4 left</li>
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_watches/6.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Fossil Women's Original Boyfriend ES3380 Rose-Gold Stainless-Steel Quartz Watch</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$100</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="widget-title-sm">Hot Now</h3>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/home_tech/2.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Dyson DC50 Animal Compact Upright Vacuum</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-old">$139</span><span class="product-caption-price-new">$98</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>2 left</li>
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/woman_bags/3.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Dooney & Bourke Pebble Grain Lexington</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$134</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-12">
                    <div class="product product-sm-left ">
                        <ul class="product-labels"></ul>
                        <div class="product-img-wrap">
                            <img class="product-img" src="@Url.Content("~/Content/showroomer/img/test_product/laptops/5.jpg")" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <a class="product-link" href="#"></a>
                        <div class="product-caption">
                            <ul class="product-caption-rating">
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li class="rated">
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <h5 class="product-caption-title">Lenovo ThinkPad 11e 11.6" Notebook, AMD A4-6210 1.8GHz, 4GB RAM, 500GBHDD, W7Pro</h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new">$69</span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
