@model IEnumerable<DevStormMvc.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="gap gap-small"></div>
    <div class="row row-col-gap">
        <div class="text-center">
            <h2>Products list </h2>
            <div class="gap gap-small"></div>
        </div>
        <div>
            @*<input style="float:right;margin-right:15px" ; type="submit" value="Create" class="btn btn-success" />
                @*<p>
                    @Html.ActionLink("Create New", "Create")
                </p>*@

            <div class="box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>TVA</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.discount)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.productId }, htmlAttributes: new { @class = "btn btn-warning", @type = "submit" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.productId }, htmlAttributes: new { @class = "btn btn-primary", @type = "submit" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.productId }, htmlAttributes: new { @class = "btn btn-danger", @type = "submit" })
                            </td>
                        </tr>
                    }

                </table>

            </div>

            <div class="container">
                <div class="gap gap-small"></div>
                <div class="row row-col-gap">
                    <div class="text-center">
                        @Html.ActionLink("Create New", "Create", "", htmlAttributes: new { @class = "btn btn-info", @type = "submit" })
                    </div>
                </div>
            </div>

            <div style="font-family:Arial">
                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
                <h2>Comments</h2>
                @Ajax.ActionLink("All", "All", new AjaxOptions()
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "divComments",
                   InsertionMode = InsertionMode.Replace
               })
                <span style="color:blue">|</span>
                @Ajax.ActionLink("Last", "Last", new AjaxOptions()
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "divComments",
                   InsertionMode = InsertionMode.Replace
               })
                <div id="divComments">

                </div>
            </div>

        </div>
    </div>
</div>
